*{
	font-family: 'Helvetica Neue',Helvetica,Arial,'Hiragino Sans GB','Hiragino Sans GB W3','Microsoft YaHei UI','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,body{
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}
#background{
	height:100%;
	width: 100%;
	background: url(../images/bg.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
#box{
	height:400px;
	width:500px;
	background-color: rgba(188,188,188,0.5);
	margin:auto;
	margin-top: 10%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 1px 1px 10px #333;
}
#box .title{
	position: relative;
	line-height: 100px;
	height:100px;
	width:108px;
	font-size: 27px;
	color:#fff;
	margin:auto;
}
input{
	outline: none;
}
#email{
	position: relative;
	height:40px;
	width:400px;
	background: #fff;
	margin-left:50px;
	margin-top: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 18px;
	text-indent: 1em;
}
#password{
	position: relative;
	height:40px;
	width:400px;
	background: #fff;
	margin-left:50px;
	margin-top: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 18px;
	text-indent: 1em;
}
#login{
	position: relative;
	height:40px;
	width:400px;
	line-height: 40px;
	background: #fff;
	margin-left:50px;
	margin-top: 50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 18px;
	background: #3385ff;
	border-style: none;
	color:#fff;
	text-align: center;
	cursor: pointer;
}
#login:hover{
	background: #317ef3;
}
#login:active{
	background: #3075dc;
}
