*{
	font-family: 'Helvetica Neue',Helvetica,Arial,'Hiragino Sans GB','Hiragino Sans GB W3','Microsoft YaHei UI','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,body{
	width:100%;
	height:100%;
	min-height: 700px;
	margin: 0;
	padding: 0;
	background: url(../images/bg.jpg) no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
.box{
	position: relative;
	display: inline-block;
	margin: 2em;
	padding: 10px 0 10px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	background-color: rgb(51, 51, 83);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 0 2px 1px rgba(255, 255, 255, 0.3) inset;
	color: #fff;
	vertical-align: middle;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	font-family: 'Raleway', sans-serif;
	width:200px;
}
.top{
	position: relative;
	height:235px;
	width:100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.border{
	position: relative;
	height:175px;
	width:175px;
	background: rgb(45,44,62);
	margin:12.5px;
	-webkit-border-radius:87.5px;
	-moz-border-radius:87.5px;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0 0 8px 
	rgba(0, 0, 0, 0.5) inset;
}
.head{
	position: relative;
	width:165px;
	height:165px;
	margin:5px;
	border-radius: 82.5px;
	-webkit-border-radius:82.5px;
	-moz-border-radius:82.5px;
}
.username{
	position: relative;
	height:69px;
	width:100%;
	font-size: 22px;
	font-family: microsoft yahei;
	text-align: center;
	/* background: #333; */
}
.info_cell{
	overflow: hidden;
	height:30px;
	padding: 0.8em;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
	line-height: 30px;
	padding-left: 2em;
	font-family:microsoft yahei;
}
.oval{
	float:right;
	height:30px;
	min-width: 30px;
	text-align: center;
	-webkit-border-radius:15px;
	background:  rgb(45,44,62);
	padding-left:15px;
	padding-right:15px;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.5) inset;
	

}